.section-tools {
    padding-bottom: 70px;
    text-align: center;
}
.section-tools__heading {
    margin-bottom: 15px;
}
.section-tools__subtitle {
    display: inline-block;
    background: linear-gradient(112.58deg, #0585E1 0%, #374EC6 123.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}
.tools {
    margin: 0 auto;
    max-width: 350px; 
}
.tools__img {
    box-shadow: 8px 46px 100px 71px rgba(80, 136, 247, 0.18);
    border-radius: 20px;
    background-color: rgb(80 136 247 /18%);
}
.tools__phone {
    position: relative;
    margin-bottom: 70px;
}
.tools-btns {
    display: none;
}
.tools-btn {
    color: #2F3C7E;
    font-family: "Gilroy600";
    background-color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 410px;
    padding: 25px 0;
    border: 1px solid rgba(239, 244, 253, 1);
    box-shadow: 0px 4px 24px 0px rgba(47, 60, 126, 0.2);
    border-radius: 11px;
    text-align: center;
    font-size: 26px;
}
.tools-btn:not(:last-child) {
    margin-bottom: 20px;
}


/* DISCUSSION BOX */
.discussion-box-wrapper {
    opacity: 0;
}
.discussion-box {
    position: absolute;
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.discussion-box--1 {
    top: 25%;
    right: 11%;
}
.discussion-box--2 {
    flex-direction: row-reverse;
    top: 54%;
}
.discussion-box__heading, .health-box__heading, .follow-box__heading {
    position: absolute;
    top: 30px;
    left: 100px;
    font-family: 'Gilroy600';
    font-size: 11.4px;
}
.discussion-box__heading:before, .health-box__heading:before, .follow-box__heading:before {
    content: '\003C';
    margin-right: 10px;
}
.discussion-box__img {
    background-color: #CDECFA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-shadow: 0px 3.39px 12.5px 0px rgba(47, 60, 126, 0.24);
    position: relative;
    bottom: -10px;
}
.discussion-box__img--2 {
    bottom: -25px;
}
.discussion-box__img img {
    border-radius: 50%;
}
.discussion-box__text {
    border-radius: 8.67px;
    font-size: 12px;
    text-align: left;
    box-shadow: 0px 3.39px 12.5px 0px rgba(47, 60, 126, 0.24);
}
.discussion-box__text--1 {
    padding: 10px 12px 12px 18px;
    max-width: 255px;
    background-color: #CDECFA;
}
.discussion-box__text--2 p {
    padding: 20px 12px 12px 12px;
}
.discussion-box__text--2 {
    max-width: 267px;
    background-color: #B9D9F8;
}
.discussion-box__text--3 {
    padding: 12px;
    color: #fff;
    max-width: 267px;
    background-color: #538DFF;
}


/* HEALTH */
.health__img {
    position: relative;
}
.health__text {
    display: none;
}
.health__text p {
    margin-bottom: 20px;
}
.health__text ul {
    list-style: inside;
    margin-top: 10px;
}
.health__text ul li {
    font-size: 30px;
    line-height: 10px;
}
.health__text ul li:not(:last-child) {
    margin-bottom: 10px;
}
.health__text ul li span {
    font-size: 14px;
}


/* HEALTH BOX */
.health-box-wrapper {
   opacity: 0;
}
.health-box {
    text-align: left;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 270px;
    row-gap: 5px;
}
.health-box--1 {
    top: 11%;
    left: 0;
}
.health-box--2 {
    top: 76%;
    right: 21%;
}
.health-box--3 {
    top: 43%;
    width: 100%;
    right: 0;
}
.health-box__img {
    margin-right: 10px;
}
.health-box__title {
    font-size: 18px;
}
.health-box__title--1 {
    font-size: 18px;
}
.health-box__title--2 {
    font-size: 17px;
}
.health-box__title--2 {
    font-size: 16px;
}
.health-box__text {
    width: 100%;
    color: #000;
    font-size: 12px;
    background-color: #fff;
    padding: 12px 17px;
    border-radius: 8.46px;
    border: 0.77px solid rgba(196, 208, 230, 1);
    box-shadow: 0px 5.00px 15.91px 0px rgba(47, 60, 126, 0.25);
}
.health-box__text--3 {
    display: flex;
    justify-content: space-between;
    padding: 25px 11px;
    font-weight: 600;
    color: #2F3C7E;;
}
.health-box__p {
    font-size: 17px;
}
.health-box__span {
    color:  #FA2E39;
    font-size: 14px;
}
.health-box__med {
    color: rgba(47, 60, 126, 1);
    margin-bottom: 5px;
    font-size: 17px;
}
.health-box__med span {
    display: inline-block;
    font-size: 11px;
    margin-left: 13px;
}
.health-box__descr {
    font-size: 10px;
    line-height: 14px;
}

 /* FOLLOW */
 .follow-box-wrapper {
    opacity: 0;
 }
 .follow__text {
    display: none;
 }
 .follow-box {
    position: absolute;
    width: 100%;
    max-width: 270px;
    font-size: 14px;
    background-color: #fff;
    padding: 12px 17px;
    border-radius: 8.46px;
    border: 0.77px solid rgba(196, 208, 230, 1);
    box-shadow: 0px 5.00px 15.91px 0px rgba(47, 60, 126, 0.25);
 }
 .follow-box--1 {
    top: 18%;
    left: 4%;
 }
 .follow-box--2 {
    top: 54%;
    right: 0;
 }
 .follow-box__text {
    background: #EDF3FF;
    border-radius: 9px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 10px;
 }
 .follow-box__subtitle {
     color: #94A3C0;
     font-size: 11.4px;
     margin-bottom: 7px;
 }
 .follow-box__answers {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 8px;
 }
 .follow-box__answer {
     opacity: 0.3;
    width: 76px;
    padding: 4px;
    border-radius: 20px;
    border: 0.95px solid rgba(47, 60, 126, 1);
    font-size: 11px;
    white-space: nowrap;
    cursor: pointer;
 }
 .follow-box__answer:hover {
     opacity: 1;
     transition: all 0.3s ease;
 }
 .follow-box__answer--wide {
     width: 100% !important;
 }

 /* ANIMATIONS ON SCROLL */
.show{
    opacity: 1 !important;
    transition: all 0.3s ease;
}
.hide {
    display: none;
    transition: all 0.3s ease;
}
.show-block {
    display: block;
    transition: all 0.3s ease;
}
  .blue-btn {
    color: #fff;
    background: linear-gradient(53.37deg, rgba(5, 133, 225, 0.94) 0%, #374EC6 136.26%), linear-gradient(53.37deg, rgba(5, 133, 225, 0.94) 0%, #374EC6 136.26%);
    transition: all 0.3s ease;
}


  



@media screen and (min-width: 965px) {
    /* TOOLS */
    .section-tools {
        top: 0;
    }
    .section-tools__heading {
        margin-bottom: 30px;
    }
    .tools {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        max-width: 100%;
    }
    .section-tools__subtitle {
        display: none;
    }
    .tools__phone {
        width: 42%;
        margin-bottom: 0;
        top: -40px;
    }
    .tools__img {
        width: 320px;
    }
    .tools__content {
        width: 50%;
        font-size: 14px;
        text-align: left;
        z-index: 100000;
    }
    .discussion__text, .health__text {
        max-width: 476px;
    }
    .discussion-box__heading, .health-box__heading, .follow-box__heading {
        top: 53px;
        left: 145px;
        font-size: 15px;
    }
    .tools-btns {
        display: block;
        margin-bottom: 37px;
    }   
    
    .discussion-box--1 {
        top: 24%;
        right: 8%;
        transform: translateX(0);
    }
    .discussion-box--2 {
        top: 47%;
        right: 32%;
    }

    .discussion-box__text {
        font-size: 14px;
    }
    .discussion-box__text--1 {
        max-width: initial;
        width: 283px;
    }
    .discussion-box__text--2 {
        max-width: initial;
        width: 310px;
    }
    .discussion-box__text--3 {
        max-width: initial;
        width: 312px;
    }
    .discussion-box__text--2 p {
        padding: 12px;
    }

    .health-box--1 {
        top: 23%;
        left: 6%;
        max-width: 286px;
    }
    .health-box--2 {
        top: 43%;
        right: -14%;
        max-width: 326px;
    }
    .health-box--3 {
        top: 63%;
        max-width: 317px;
        width: 100%;
        right: 43%;
    }
    .health-box__text {
        font-size: 13.32px;
    }
    .health-box__descr {
        font-size: 13px;
        line-height: 17px;
    }
    .follow-box {
        max-width: 370px;
    }
    .follow-box--2 {
        right: -18%;
     }
    .follow-box__text {
        font-size: 14px;
    }
    .follow-box__answer {
        width: 104px;
        font-size: 15px;
    }
}