.section-tools {
    padding-bottom: 80px;
    text-align: center;
}
.section-tools__subtitle {
    display: inline-block;
    background: linear-gradient(112.58deg, #0585E1 0%, #374EC6 123.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 22px;
    margin: 15px 0 20px 0;
}
.tools__phone {
    position: relative;
    margin-bottom: 33px;
}
.tools-btns {
    display: none;
}
.tools-btn {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    max-width: 410px;
    padding: 25px 0;
    border: 1px solid rgba(239, 244, 253, 1);
    box-shadow: 0px 4px 24px 0px rgba(47, 60, 126, 0.2);
    border-radius: 11px;
    margin-bottom: 20px;
    text-align: center;
}
.tools-btn a {
    font-size: 26px;
    color:#2F3C7E;
}


/*PHONE SHADOW AND MAX-WIDTH*/
.tools__img, .health__img img {
    box-shadow: 8px 46px 100px 71px rgba(80, 136, 247, 0.18);
    border-radius: 20px;
}
.tools, .health {
    margin: 0 auto;
    max-width: 350px; 
}


/* DISCUSSION BOX */
.discussion-box {
    position: absolute;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.discussion-box--1 {
    top: 20%;
    right: 8%;
}
.discussion-box--2 {
    flex-direction: row-reverse;
    top: 50%;
    right: 10%;
}
.discussion-subbox {
    position: absolute;
    top: 93%;
    right: 14%;
    max-width: 267px;
    width: 100%;
}
.discussion-box__img {
    background-color: #CDECFA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-shadow: 0px 3.39px 12.5px 0px rgba(47, 60, 126, 0.24);
}
.discussion-box__img img {
    border-radius: 50%;
}
.discussion-box__text {
    padding: 12px;
    border-radius: 8.67px;
    font-size: 12px;
    text-align: left;
    box-shadow: 0px 3.39px 12.5px 0px rgba(47, 60, 126, 0.24);
}
.discussion-box__text--1 {
    max-width: 255px;
    background-color: #CDECFA;
}
.discussion-box__text--2 {
    max-width: 267px;
    background-color: #B9D9F8;
}
.discussion-box__text--3 {
    color: #fff;
    max-width: 267px;
    background-color: #538DFF;
}


/* HEALTH */
.health__img {
    position: relative;
}
.health__text {
    display: none;
}
.health__text ul {
    list-style: inside;
    margin-top: 10px;
}
.health__text ul li {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 10px;
}
.health__text ul li span {
    font-size: 14px;
}


/* HEALTH BOX */
.health-box-wrapper {
    display: none;
}
.health-box {
    text-align: left;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 270px;
    row-gap: 5px;
}
.health-box--1 {
    top: 17%;
}
.health-box--2 {
    top: 46%;
    right: 0;
}
.health-box--3 {
    top: 73%;
}
.health-box__img {
    margin-right: 10px;
}
.health-box__title {
    font-size: 18px;
    font-weight: 600;
}
.health-box__text {
    width: 100%;
    color: #000;
    line-height: 16.86px;
    font-size: 12.49px;
    background-color: #fff;
    padding: 12px 17px;
    border-radius: 8.46px;
    border: 0.77px solid rgba(196, 208, 230, 1);
    box-shadow: 0px 5.00px 15.91px 0px rgba(47, 60, 126, 0.25);
}
.health-box__text--2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(47, 60, 126, 1);
}
.health-box__span {
    color: rgba(221, 118, 95, 1);
    font-size: 12.61px;
}
.health-box__med {
    color: rgba(47, 60, 126, 1);
    font-weight: 600;
    margin-bottom: 5px;
}
.health-box__med span {
    display: inline-block;
    font-size: 11px;
    margin-left: 10px;
    font-weight: 400;
}
.health-box__descr {
    font-size: 10px;
    line-height: 14.79px;
}

 /* FOLLOW */
 .follow__text {
     display: none;
 }

 

@media screen and (min-width: 768px) {
    /* TOOLS */
    .section-tools {
        top: 0;
    }
    .tools {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        max-width: 100%;
    }
    .section-tools__subtitle {
        display: none;
    }
    .tools__phone {
        width: 48%;
        margin-bottom: 0;
    }
    .tools__img {
        width: 276px;
    }
    .tools__content {
        width: 48%;
        font-size: 14px;
        text-align: left;
        z-index: 100000;
    }
    .discussion__text, .health__text {
        max-width: 476px;
    }
    .tools-btns {
        display: block;
    }    
}