* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2F3C7E;
}
.row {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 10px;
}
.heading-primary {
    font-family: 'Gilroy-Bald', sans-serif;
    font-size: 50px;
    margin: 50px 0 38px 0;
}
.heading-secondary {
    font-family: 'Gilroy-Bald', sans-serif;
    font-size: 25px;
    text-align: center;
}
.btn {
    display: inline-block;
    color: #2F3C7E;
    text-decoration: none;
    padding: 14px 36px;
    border-radius: 11px;
    border: 2px solid rgba(47, 60, 126, 1);
    font-weight: 600;
}




/* HEADER */
.section-header {
    color: #fff;
    background: linear-gradient(53.37deg, rgba(5, 133, 225, 0.94) 0%, #374EC6 136.26%);
    padding: 18px 15px 50px 15px;
    border-radius: 20px;
    margin-top: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo img {
    max-width: 80px;
}
.header__login {
    display: none;
}
.hero__text {
    margin-bottom: 26px;
    line-height: 18.2px;
}
.cta-btn {
    display: inline-block;
    color: #0F7ADC;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 14px 36px;
    background-color: #fff;
    border-radius: 11px;
}

/* MOBILE NAVIGATION */
.btn-mobile-nav {
    height: 1.5px;
    width: 20px;
    background-color: #fff;
    position: relative;
}
.btn-mobile-nav:before, .btn-mobile-nav:after {
    content: "";
    height: 1.5px;
    width: 28px;
    right: 0;
    background-color: #fff;
    position: absolute;
}
.btn-mobile-nav:before {
    bottom: 7px;
}
.btn-mobile-nav:after {
   top: 7px;
}


/* DESKTOP NAVIGATION */
.nav {
    display: none;
    width: 100%;
    max-width: 761px;
    font-size: 20px;
    font-weight: 400;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-link {
    color: #fff;
    text-decoration: none;
}



/* SECTION FEATURES */
.section-features {
    padding: 26px 0 63px 0;
}
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.feature-box {
    text-align: center;
    max-width: 95px;
}
.feature-box__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #44C678;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.feature-box__text {
    font-weight: 600;
    margin-top: 10px;
}




/* SECTION PLANS */
.section-plans {
    padding-bottom: 80px;
}
.plan-box {
    display: flex;
    align-items: center;
    max-width: 276px;
    padding: 14px 20px;
    border-radius: 9px;
    border: 1px solid #EFF4FD;
    margin: 0 auto 15px auto;
    box-shadow: -1.66px 3.33px 10.83px 0px rgba(0, 0, 0, 0.07);

}
.plan-box__textcontent {
    font-size: 14px;
    margin-left: 15px;
}
.plan-box__title {
    font-size: 13.34px;
}
.plan-box__checked {
    margin-left: auto;
}



/* SECTION TOOLS */
.section-tools {
    padding-bottom: 80px;
    text-align: center;
}
.section-tools__subtitle {
    display: inline-block;
    background: linear-gradient(112.58deg, #0585E1 0%, #374EC6 123.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 22px;
    margin: 15px 0 20px 0;
}
.tools__img {
    position: relative;
    margin-bottom: 33px;
}
.tools--text {
    font-weight: 600;
}


/*PHONE SHADOW AND MAX-WIDTH*/
.tools__img img, .health__img img {
    box-shadow: 8px 46px 100px 71px rgba(80, 136, 247, 0.18);
}
.tools, .health {
    margin: 0 auto 50px auto;
    max-width: 350px; 
}


/* OPINION BOX */
.opinion-box {
    position: absolute;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.opinion-box--1 {
    top: 20%;
    left: 8%;
}
.opinion-box--2 {
    flex-direction: row-reverse;
    top: 50%;
    right: 10%;
}
.opinion-subbox {
    position: absolute;
    top: 93%;
    right: 14%;
    max-width: 267px;
    width: 100%;
}
.opinion-box__img {
    background-color: #CDECFA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-shadow: 0px 3.39px 12.5px 0px rgba(47, 60, 126, 0.24);
}
.opinion-box__img img {
    max-width: 28px;
    border-radius: 50%;
}
.opinion-box__text {
    padding: 12px;
    border-radius: 8.67px;
    font-size: 12px;
    text-align: left;
    box-shadow: 0px 3.39px 12.5px 0px rgba(47, 60, 126, 0.24);
}
.opinion-box__text--1 {
    max-width: 255px;
    background-color: #CDECFA;
}
.opinion-box__text--2 {
    max-width: 267px;
    background-color: #B9D9F8;
}
.opinion-box__text--3 {
    color: #fff;
    max-width: 267px;
    background-color: #538DFF;
}


/* HEALTH BOX */
.health__img {
    position: relative;
}
.health__text {
    margin-top: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.health__text ul {
    list-style: inside;
    margin-top: 10px;
}
.health__text ul li {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 10px;
}
/* .health__text ul li::marker {
    line-height: 10px;
    vertical-align: middle;
} */
.health__text ul li span {
    font-size: 14px;
}
.health-box {
    text-align: left;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 270px;
    row-gap: 5px;
}
.health-box--1 {
    top: 17%;
}
.health-box--2 {
    top: 46%;
    right: 0;
}
.health-box--3 {
    top: 73%;
}
.health-box__img {
    margin-right: 10px;
}
.health-box__title {
    font-size: 18px;
    font-weight: 600;
}
.health-box__text {
    width: 100%;
    color: #000;
    line-height: 16.86px;
    font-size: 12.49px;
    background-color: #fff;
    padding: 12px 17px;
    border-radius: 8.46px;
    border: 0.77px solid rgba(196, 208, 230, 1);
    box-shadow: 0px 5.00px 15.91px 0px rgba(47, 60, 126, 0.25);
}
.health-box__text--2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(47, 60, 126, 1);
}
.health-box__span {
    color: rgba(221, 118, 95, 1);
    font-size: 12.61px;
}
.health-box__med {
    color: rgba(47, 60, 126, 1);
    font-weight: 600;
    margin-bottom: 5px;
}
.health-box__med span {
    display: inline-block;
    font-size: 11px;
    margin-left: 10px;
    font-weight: 400;
}
.health-box__descr {
    font-size: 10px;
    line-height: 14.79px;
}














.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }