* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'GilroyLight';
    src: url('./gillroy/Gilroy-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'GilroyRegular';
    src: url('./gillroy/gilroy-regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'GilroyBold';
    src: url('./gillroy/gilroy-bold.ttf') format("truetype");
    font-weight: 700;
}
html{
    height:200%;
}
body{
    height:150%;
}
body {
    font-family: 'GilroyRegular';
    font-size: 14px;
    color: #2F3C7E;
}
a {
    text-decoration: none;
}
.row {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
}
.row-small {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
.heading-primary {
    font-family: 'GilroyBold';
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin: 53px 0 38px 0;
}
.heading-secondary {
    font-family: 'GilroyBold';
    font-weight: 700;
    font-size: 25px;
}



/* BUTTONS */
.cta-btn {
    display: inline-block;
    color: #0F7ADC;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 14px 36px;
    background-color: #fff;
    border-radius: 11px;
}
.btn {
    display: inline-block;
    color: #2F3C7E;
    text-decoration: none;
    padding: 14px 36px;
    border-radius: 11px;
    border: 2px solid rgba(47, 60, 126, 1);
    font-weight: 600;
    font-size: 16px;
}



/* HEADER */
.section-header {
    color: #fff;
    background: linear-gradient(53.37deg, rgba(5, 133, 225, 0.94) 0%, #374EC6 136.26%);
    padding: 16px 15px 26px 15px;
    border-radius: 20px;
    margin-top: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* LOG IN */
.header__login {
    display: none;
}
.header__login a {
    color: #fff;
}



/* HERO */
.hero__text {
    max-width: 482px;
    margin-bottom: 26px;
    line-height: 18.2px;
}
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 75px;
}
.feature-box {
    text-align: center;
    max-width: 95px;
}
.feature-box__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.feature-box__text {
    color: #D2D4DF;
    margin-top: 10px;
}



/* MOBILE NAVIGATION */
.btn-mobile-nav {
    height: 1.5px;
    width: 20px;
    background-color: #fff;
    position: relative;
}
.btn-mobile-nav:before, .btn-mobile-nav:after {
    content: "";
    height: 1.5px;
    width: 28px;
    right: 0;
    background-color: #fff;
    position: absolute;
}
.btn-mobile-nav:before {
    bottom: 7px;
}
.btn-mobile-nav:after {
   top: 7px;
}



/* DESKTOP NAVIGATION */
.nav {
    display: none;
    width: 100%;
    max-width: 589px;
    font-size: 18px;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-link {
    color: #fff;
}

/* SECTION GOALS */
.section-goals img {
    display: none;
    padding-bottom: 120px;
}

.section-form {
    padding-bottom: 83px;
}
.form {
    color: #fff;
    padding: 15px;
    border-radius: 22px;
    background: linear-gradient(53.37deg, rgba(5, 133, 225, 0.94) 0%, #374EC6 136.26%);
}
.form__heading {
    text-align: left;
    margin-bottom: 10px;
}
.form__text {
    line-height: 18px;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.form-group label {
    width: 100%;
    font-size: 22px;
    padding-bottom: 5px;
}
.form-group input {
    width: 100%;
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    border: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}
.form-group input::placeholder {
    font-size: 12px;
    color: #C7CFF7;
}
.form__consent {
    display: flex;
    font-size: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.form__btn {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin: 0 auto;
}
.btn-wrapper {
    text-align: center;
}



.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }



@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
    .heading-primary {
        font-size: 80px;
        line-height: 80px;
        max-width: 666px;
        margin: 132px 0 30px 0;
    }
    .heading-secondary {
        font-size: 30px;
        text-align: left;
        margin-bottom: 30px;
    }
    .btn {
        font-size: 20px;
        padding: 14px 46px;
    }

    .section-header {
        padding: 77px 70px 52px 70px;
    }
    .header__logo img {
        max-width: 138px;
    }
    .hero__text {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .features {
        justify-content: flex-end;
        margin-top: 45px;
    }
    .feature-box {
        max-width: 190px;
    }
    .feature-box__text {
        color: #fff;
    }

    .section-goals img {
        display: block;
        width: 100%;
        max-width: 1340px;
    }
}



@media screen and (min-width: 965px) {
    .btn-mobile-nav {
        display: none;
    }
    .nav {
        display: block;
    }
    .header__login {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .header__lang {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}